@import './variables';

// for testing only
#aboutme {
  padding-bottom: 50px;
  .container {
    text-align: center;
    h2 {
      color: $font-color;
    }
    h3 {
      color: $main-color;
    }
  }
}
