@import './variables';

.no-display {
  position: fixed;
  bottom: -100px;
  opacity: 0;
  visibility: hidden;
}

.fas {
  text-shadow: none;
}

.go-to-top {
  opacity: 1;
  visibility: visible;
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
  font-size: 45px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  transition-property: opacity, background-color, color;
  background-color: $color-white;
  color: $main-color;
  z-index: 1070;
  i {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-5%, -5%);
  }
  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transition-property: opacity, background-color, color;
    background-color: $main-color;
    color: $color-white;
  }
}
