@import './variables';

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  width: 50%;
  justify-content: space-between;

  font: {
    family: $font-Cinzel;
    size: 18px;
  }
  li {
    a {
      font-family: $font-Cinzel;
      color: $color-white;
      transition: 0.3s;
      padding: 10px;
      &:hover {
        text-decoration: none;
        color: $main-color;
        transition: 0.3s;
      }
    }
    a.active {
      color: $main-color;
    }
  }
}
.menu-button {
  display: none;
}
.click-helper {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $color-white;
    top: 0;
    left: 0;
    width: 0px !important;
    height: 100vh;
    text-align: left !important;
    overflow: hidden;
    margin-top: 0 !important;
    z-index: 9999 !important;
    > li {
      width: 100% !important;
      a {
        display: inline-block;
        width: 100%;
        color: $font-color;
        font-size: 18px;
        white-space: nowrap;
      }
    }
  }
  .menu-button {
    position: fixed;
    display: flex;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 9999;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
    &-active {
      left: 210px;
      transition: 0.3s left ease-in-out;
    }
    i {
      font-size: 40px;
      text-shadow: 1px 1px 2px $font-color;
      color: $color-white;
    }
  }

  .menu-active {
    width: 200px !important;
    transition: 0.3s width ease-in-out;
  }

  .clickable {
    position: fixed;
    display: flex;
    z-index: 1090;
    width: 100vw;
    height: 100vh;
  }
}
