@import './variables';

#my-skills {
  position: relative;
  padding-bottom: 50px;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('~/cup_of_coffee.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: brightness(30%) sepia(0.3);
    -webkit-filter: brightness(30%) sepia(0.3);
  }
  .container {
    position: relative;
    z-index: 0;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    br {
      display: inline;
    }
    h2 {
      padding-top: 50px;
    }
    .icons {
      font-size: 60px;
      padding-bottom: 50px;
      font-family: $font-Cinzel;
      text-align: center;
      width: 80%;
      > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      img {
        height: 50px;
        width: 100px;
        object-fit: contain;
        margin-bottom: 15px;
        vertical-align: middle;
      }
      svg {
        padding: 20px 10px;
        margin-bottom: 15px;
        height: 110px;
      }
      i {
        padding: 20px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  #my-skills {
    .background-image {
      background-attachment: initial;
    }
    .container {
      br {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #my-skills {
    .background-image {
      background-attachment: initial;
    }
    .container {
      max-width: 100%;
      br {
        display: none;
      }
    }
  }
}
