@import './variables';

#other {
  position: relative;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('~/header_train.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: brightness(30%) sepia(0.3);
    -webkit-filter: brightness(30%) sepia(0.3);
  }
  .container {
    position: relative;

    .other-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        text-align: left;
        color: $color-white;
        padding: 50px 0;
      }
    }
    .text {
      color: $color-white;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #other {
    .container {
      .other-menu {
        ul.menu {
          width: 60%;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #other {
    .container {
      max-width: 100%;
      .other-menu {
        flex-direction: column;

        ul.menu {
          width: 100%;
          justify-content: space-around;
          margin-bottom: 50px;
          font-size: 15px;
          > li {
            width: 20%;
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #other {
    .container {
      max-width: 100%;
      .other-menu {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  #other {
    .container {
      .other-menu {
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}
