@import './variables';

#projects {
  position: relative;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(30%) sepia(0.3);
    -webkit-filter: brightness(30%) sepia(0.3);
    background: {
      image: url('~/header_train.jpg');
      attachment: fixed;
      size: cover;
    }
  }
  .container {
    position: relative;
    color: $color-white;
    .description {
      // margin: 50px 0;
    }
    .image {
      margin: 0 auto;
      width: 60%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    h4 {
      padding: 50px 0;
      font: {
        family: $font-Cinzel;
      }
      text-align: center;
    }
  }
}
