@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');

$color-white: #fff;
$main-color: #e6795c;
$font-color: #4d4a47;
$bg-color: #f7f9f4;
// fonts
$font-Righteous: 'Righteous', cursive;
$font-Cinzel: 'Cinzel', serif;
