@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato');

$color-white: #fff;
$color-white-rgba: #fff;
$main-color: #e6795c;
$main-color-rgba: #e6795c;
$main-hover: #a46859;
$font-color: #4d4a47;
$bg-color: #f7f9f4;
// fonts
$font-Lato: 'Lato', sans-serif;
$font-Cinzel: 'Cinzel', serif;
