@import './variables';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-Lato;
}

@import './header';
@import './aboutme';
@import './my-skills';
@import './portfolio';
@import './other';
@import './menu';
@import './projects';
@import './footer';
@import './contact';
@import './contact-form';
@import './lightbox';
@import './cv';
@import './arrow';
@import './go-to-top';

h1,
h2,
h3 {
  font: {
    family: $font-Cinzel;
  }
  text: {
    align: center;
    transform: uppercase;
  }
}
h2 {
  font-size: 42px;
  padding-top: 50px;
}
h3 {
  font-size: 20px;
  margin-bottom: 50px;
}
