* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import './variables';

@import './header';
@import './aboutme';
@import './my-skills';
@import './portfolio';
@import './other';
@import './menu';
@import './projects';
@import './footer';
@import './contact';
@import './contact-form';

h2,
h3 {
  font: {
    family: $font-Cinzel;
  }
  text: {
    align: center;
    transform: uppercase;
  }
}
h2 {
  font-size: 42px;
  margin-top: 50px;
}
h3 {
  font-size: 20px;
  margin-bottom: 50px;
}
